<div class="home-container">
  <app-navbar8>
    <ng-template #page4Description>
      <div class="home-fragment100">
        <span class="home-text100 thq-body-small">Get in touch with us</span>
      </div>
    </ng-template>
    <ng-template #action1>
      <div class="home-fragment101">
        <span class="home-text101">Order Now</span>
      </div>
    </ng-template>
    <ng-template #link2>
      <div class="home-fragment102">
        <span class="home-text102 thq-link thq-body-small">#portfolio</span>
      </div>
    </ng-template>
    <ng-template #page1>
      <div class="home-fragment103">
        <span class="home-text103 thq-body-large">Home</span>
      </div>
    </ng-template>
    <ng-template #link1>
      <div class="home-fragment104">
        <span class="home-text104 thq-link thq-body-small">#</span>
      </div>
    </ng-template>
    <ng-template #page4>
      <div class="home-fragment105">
        <span class="home-text105 thq-body-large">Contact</span>
      </div>
    </ng-template>
    <ng-template #page2>
      <div class="home-fragment106">
        <span class="home-text106 thq-body-large">Portfolio</span>
      </div>
    </ng-template>
    <ng-template #link4>
      <div class="home-fragment107">
        <span class="home-text107 thq-link thq-body-small">#contact</span>
      </div>
    </ng-template>
    <ng-template #page1Description>
      <div class="home-fragment108">
        <span class="home-text108 thq-body-small">
          Welcome to our freelancing website
        </span>
      </div>
    </ng-template>
    <ng-template #page2Description>
      <div class="home-fragment109">
        <span class="home-text109 thq-body-small">
          Check out our previous projects
        </span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="home-fragment110">
        <span class="home-text110 thq-link thq-body-small">#services</span>
      </div>
    </ng-template>
    <ng-template #page3>
      <div class="home-fragment111">
        <span class="home-text111 thq-body-large">Services</span>
      </div>
    </ng-template>
    <ng-template #page3Description>
      <div class="home-fragment112">
        <span class="home-text112 thq-body-small">
          Explore the services we offer
        </span>
      </div>
    </ng-template>
    <ng-template #action2>
      <div class="home-fragment113">
        <span class="home-text113">Contact Us</span>
      </div>
    </ng-template>
  </app-navbar8>
  <app-hero17>
    <ng-template #action2>
      <div class="home-fragment114">
        <span class="home-text114 thq-body-small">View Portfolio</span>
      </div>
    </ng-template>
    <ng-template #action1>
      <div class="home-fragment115">
        <span class="home-text115 thq-body-small">Order Now</span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment116">
        <span class="home-text116 thq-heading-1">
          Welcome to Our Freelancing Website for Website Creation
        </span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment117">
        <span class="home-text117 thq-body-large">
          Browse through our portfolio of stunning website projects and order
          our services to bring your vision to life.
        </span>
      </div>
    </ng-template>
  </app-hero17>
  <app-features24>
    <ng-template #feature3Description>
      <div class="home-fragment118">
        <span class="home-text118 thq-body-small">Customized Designs</span>
      </div>
    </ng-template>
    <ng-template #feature3Title>
      <div class="home-fragment119">
        <span class="home-text119 thq-heading-2">Unique Designs</span>
      </div>
    </ng-template>
    <ng-template #feature2Description>
      <div class="home-fragment120">
        <span class="home-text120 thq-body-small">Responsive Layouts</span>
      </div>
    </ng-template>
    <ng-template #feature1Title>
      <div class="home-fragment121">
        <span class="home-text121 thq-heading-2">Professional Websites</span>
      </div>
    </ng-template>
    <ng-template #feature1Description>
      <div class="home-fragment122">
        <span class="home-text122 thq-body-small">High-Quality Websites</span>
      </div>
    </ng-template>
    <ng-template #feature2Title>
      <div class="home-fragment123">
        <span class="home-text123 thq-heading-2">Mobile-Friendly Designs</span>
      </div>
    </ng-template>
  </app-features24>
  <app-cta26>
    <ng-template #heading1>
      <div class="home-fragment124">
        <span class="home-text124 thq-heading-2">
          Ready to bring your website to life?
        </span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment125">
        <span class="home-text125 thq-body-large">
          Browse through our portfolio and choose the perfect design for your
          project.
        </span>
      </div>
    </ng-template>
    <ng-template #action1>
      <div class="home-fragment126">
        <span class="home-text126">Get Started</span>
      </div>
    </ng-template>
  </app-cta26>
  <app-features25>
    <ng-template #feature3Description>
      <div class="home-fragment127">
        <span class="home-text127 thq-body-small">
          Implementing SEO best practices to improve your website&apos;s
          visibility on search engines
        </span>
      </div>
    </ng-template>
    <ng-template #feature1Description>
      <div class="home-fragment128">
        <span class="home-text128 thq-body-small">
          Tailored website designs to meet your specific needs and preferences
        </span>
      </div>
    </ng-template>
    <ng-template #feature2Title>
      <div class="home-fragment129">
        <span class="home-text129 thq-heading-2">
          Responsive Web Development
        </span>
      </div>
    </ng-template>
    <ng-template #feature1Title>
      <div class="home-fragment130">
        <span class="home-text130 thq-heading-2">
          Customized Website Design
        </span>
      </div>
    </ng-template>
    <ng-template #feature2Description>
      <div class="home-fragment131">
        <span class="home-text131 thq-body-small">
          Creating websites that are optimized for all devices and screen sizes
        </span>
      </div>
    </ng-template>
    <ng-template #feature3Title>
      <div class="home-fragment132">
        <span class="home-text132 thq-heading-2">SEO Optimization</span>
      </div>
    </ng-template>
  </app-features25>
  <app-pricing14>
    <ng-template #plan3Price>
      <div class="home-fragment133">
        <span class="home-text133 thq-heading-3">$299</span>
      </div>
    </ng-template>
    <ng-template #plan3Action>
      <div class="home-fragment134">
        <span class="home-text134 thq-body-small">Order Now</span>
      </div>
    </ng-template>
    <ng-template #plan11>
      <div class="home-fragment135">
        <span class="home-text135 thq-body-large">Basic plan</span>
      </div>
    </ng-template>
    <ng-template #plan1Action>
      <div class="home-fragment136">
        <span class="home-text136 thq-body-small">Order Now</span>
      </div>
    </ng-template>
    <ng-template #plan31>
      <div class="home-fragment137">
        <span class="home-text137 thq-body-large">Enterprise plan</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature41>
      <div class="home-fragment138">
        <span class="home-text138 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan1Feature2>
      <div class="home-fragment139">
        <span class="home-text139 thq-body-small">Basic SEO Optimization</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature11>
      <div class="home-fragment140">
        <span class="home-text140 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature51>
      <div class="home-fragment141">
        <span class="home-text141 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature41>
      <div class="home-fragment142">
        <span class="home-text142 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature2>
      <div class="home-fragment143">
        <span class="home-text143 thq-body-small">
          Advanced SEO Optimization
        </span>
      </div>
    </ng-template>
    <ng-template #plan3Feature21>
      <div class="home-fragment144">
        <span class="home-text144 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature4>
      <div class="home-fragment145">
        <span class="home-text145 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan2Yearly>
      <div class="home-fragment146">
        <span class="home-text146 thq-body-large">$1999</span>
      </div>
    </ng-template>
    <ng-template #plan1Action1>
      <div class="home-fragment147">
        <span class="home-text147 thq-body-small">Get started</span>
      </div>
    </ng-template>
    <ng-template #plan2Action>
      <div class="home-fragment148">
        <span class="home-text148 thq-body-small">Order Now</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature1>
      <div class="home-fragment149">
        <span class="home-text149 thq-body-small">Custom Design</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature3>
      <div class="home-fragment150">
        <span class="home-text150 thq-body-small">
          E-commerce Functionality
        </span>
      </div>
    </ng-template>
    <ng-template #plan1Price1>
      <div class="home-fragment151">
        <span class="home-text151 thq-heading-3">$200/yr</span>
      </div>
    </ng-template>
    <ng-template #plan2>
      <div class="home-fragment152">
        <span class="home-text152 thq-body-large">Business plan</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature21>
      <div class="home-fragment153">
        <span class="home-text153 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan2Action1>
      <div class="home-fragment154">
        <span class="home-text154 thq-body-small">Get started</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature2>
      <div class="home-fragment155">
        <span class="home-text155 thq-body-small">Unlimited Revisions</span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment156">
        <span class="home-text156 thq-body-small">
          Choose the perfect plan for you
        </span>
      </div>
    </ng-template>
    <ng-template #plan2Feature1>
      <div class="home-fragment157">
        <span class="home-text157 thq-body-small">10 Page Website</span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment158">
        <span class="home-text158 thq-heading-2">Pricing plan</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature31>
      <div class="home-fragment159">
        <span class="home-text159 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan1>
      <div class="home-fragment160">
        <span class="home-text160 thq-body-large">Basic plan</span>
      </div>
    </ng-template>
    <ng-template #plan21>
      <div class="home-fragment161">
        <span class="home-text161 thq-body-large">Business plan</span>
      </div>
    </ng-template>
    <ng-template #plan1Feature11>
      <div class="home-fragment162">
        <span class="home-text162 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan1Feature21>
      <div class="home-fragment163">
        <span class="home-text163 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature5>
      <div class="home-fragment164">
        <span class="home-text164 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan2Yearly1>
      <div class="home-fragment165">
        <span class="home-text165 thq-body-large">or $29 monthly</span>
      </div>
    </ng-template>
    <ng-template #plan2Price>
      <div class="home-fragment166">
        <span class="home-text166 thq-heading-3">$199</span>
      </div>
    </ng-template>
    <ng-template #plan3Yearly1>
      <div class="home-fragment167">
        <span class="home-text167 thq-body-large">or $49 monthly</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature31>
      <div class="home-fragment168">
        <span class="home-text168 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature11>
      <div class="home-fragment169">
        <span class="home-text169 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan1Yearly1>
      <div class="home-fragment170">
        <span class="home-text170 thq-body-large">or $20 monthly</span>
      </div>
    </ng-template>
    <ng-template #plan2Price1>
      <div class="home-fragment171">
        <span class="home-text171 thq-heading-3">$299/yr</span>
      </div>
    </ng-template>
    <ng-template #plan3Yearly>
      <div class="home-fragment172">
        <span class="home-text172 thq-body-large">$2999</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature4>
      <div class="home-fragment173">
        <span class="home-text173 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan3Price1>
      <div class="home-fragment174">
        <span class="home-text174 thq-heading-3">$499/yr</span>
      </div>
    </ng-template>
    <ng-template #plan1Feature31>
      <div class="home-fragment175">
        <span class="home-text175 thq-body-small">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan1Feature3>
      <div class="home-fragment176">
        <span class="home-text176 thq-body-small">
          Mobile Responsive Design
        </span>
      </div>
    </ng-template>
    <ng-template #plan1Yearly>
      <div class="home-fragment177">
        <span class="home-text177 thq-body-large">$999</span>
      </div>
    </ng-template>
    <ng-template #plan1Feature1>
      <div class="home-fragment178">
        <span class="home-text178 thq-body-small">5 Page Website</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature3>
      <div class="home-fragment179">
        <span class="home-text179 thq-body-small">Priority Support</span>
      </div>
    </ng-template>
    <ng-template #content2>
      <div class="home-fragment180">
        <span class="home-text180 thq-body-large">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <span [innerHTML]="raw29k2"></span>
          </span>
          <span><span [innerHTML]="rawaemv"></span></span>
        </span>
      </div>
    </ng-template>
    <ng-template #plan3Action1>
      <div class="home-fragment181">
        <span class="home-text183 thq-body-small">Get started</span>
      </div>
    </ng-template>
    <ng-template #plan1Price>
      <div class="home-fragment182">
        <span class="home-text184 thq-heading-3">$99</span>
      </div>
    </ng-template>
    <ng-template #plan3>
      <div class="home-fragment183">
        <span class="home-text185 thq-body-large">Enterprise plan</span>
      </div>
    </ng-template>
  </app-pricing14>
  <app-steps2>
    <ng-template #step1Description>
      <div class="home-fragment184">
        <span class="home-text186 thq-body-small">
          Explore our collection of past website creation projects to get
          inspired.
        </span>
      </div>
    </ng-template>
    <ng-template #step3Description>
      <div class="home-fragment185">
        <span class="home-text187 thq-body-small">
          Place your order for the selected services through our user-friendly
          platform.
        </span>
      </div>
    </ng-template>
    <ng-template #step2Title>
      <div class="home-fragment186">
        <span class="home-text188 thq-heading-2">Select Services</span>
      </div>
    </ng-template>
    <ng-template #step2Description>
      <div class="home-fragment187">
        <span class="home-text189 thq-body-small">
          Choose the website creation services that best fit your needs and
          requirements.
        </span>
      </div>
    </ng-template>
    <ng-template #step1Title>
      <div class="home-fragment188">
        <span class="home-text190 thq-heading-2">Browse Portfolio</span>
      </div>
    </ng-template>
    <ng-template #step3Title>
      <div class="home-fragment189">
        <span class="home-text191 thq-heading-2">Place Order</span>
      </div>
    </ng-template>
    <ng-template #step4Description>
      <div class="home-fragment190">
        <span class="home-text192 thq-body-small">
          Let our team of expert freelancers work on creating your website while
          you relax and wait for the magic to happen.
        </span>
      </div>
    </ng-template>
    <ng-template #step4Title>
      <div class="home-fragment191">
        <span class="home-text193 thq-heading-2">Sit Back and Relax</span>
      </div>
    </ng-template>
  </app-steps2>
  <app-testimonial17>
    <ng-template #author2Position>
      <div class="home-fragment192">
        <span class="home-text194 thq-body-small">
          Marketing Manager, Company XYZ
        </span>
      </div>
    </ng-template>
    <ng-template #author1Position>
      <div class="home-fragment193">
        <span class="home-text195 thq-body-small">CEO, Company ABC</span>
      </div>
    </ng-template>
    <ng-template #author1Name>
      <div class="home-fragment194">
        <span class="home-text196 thq-body-large">John Doe</span>
      </div>
    </ng-template>
    <ng-template #author3Name>
      <div class="home-fragment195">
        <span class="home-text197 thq-body-large">David Johnson</span>
      </div>
    </ng-template>
    <ng-template #review2>
      <div class="home-fragment196">
        <span class="home-text198 thq-body-small">
          The team at Freelance Web Creations is incredibly talented. They
          understood our vision and brought it to life with creativity and
          precision.
        </span>
      </div>
    </ng-template>
    <ng-template #author2Name>
      <div class="home-fragment197">
        <span class="home-text199 thq-body-large">Jane Smith</span>
      </div>
    </ng-template>
    <ng-template #author4Position>
      <div class="home-fragment198">
        <span class="home-text200 thq-body-small">
          Creative Director, Design Co.
        </span>
      </div>
    </ng-template>
    <ng-template #author4Name>
      <div class="home-fragment199">
        <span class="home-text201 thq-body-large">Sarah Lee</span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment200">
        <span class="home-text202 thq-body-small">
          Working with Freelance Web Creations was a game-changer for our
          business. They delivered a stunning website that exceeded our
          expectations.
        </span>
      </div>
    </ng-template>
    <ng-template #author3Position>
      <div class="home-fragment201">
        <span class="home-text203 thq-body-small">Founder, Startup123</span>
      </div>
    </ng-template>
    <ng-template #review1>
      <div class="home-fragment202">
        <span class="home-text204 thq-body-small">
          5 stars - Excellent service and top-notch quality!
        </span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment203">
        <span class="home-text205 thq-heading-2">Client Testimonials</span>
      </div>
    </ng-template>
    <ng-template #review3>
      <div class="home-fragment204">
        <span class="home-text206 thq-body-small">
          I couldn&apos;t be happier with the website created for my startup.
          It&apos;s user-friendly, visually appealing, and has helped us attract
          more customers.
        </span>
      </div>
    </ng-template>
    <ng-template #review4>
      <div class="home-fragment205">
        <span class="home-text207 thq-body-small">
          Freelance Web Creations is the go-to platform for anyone looking for
          professional web design services. Highly recommended!
        </span>
      </div>
    </ng-template>
  </app-testimonial17>
  <app-contact10>
    <ng-template #content1>
      <div class="home-fragment206">
        <span class="home-text208 thq-body-large">
          Have a project in mind or need more information? Feel free to reach
          out to us.
        </span>
      </div>
    </ng-template>
    <ng-template #location1Description>
      <div class="home-fragment207">
        <span class="home-text209 thq-body-large">
          Visit us at our office location for a face-to-face discussion.
        </span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment208">
        <span class="home-text210 thq-heading-2">Contact Us</span>
      </div>
    </ng-template>
    <ng-template #location2Description>
      <div class="home-fragment209">
        <span class="home-text211 thq-body-large">
          Drop us an email with your inquiries and we&apos;ll get back to you
          promptly.
        </span>
      </div>
    </ng-template>
    <ng-template #location1>
      <div class="home-fragment210">
        <span class="home-text212 thq-heading-3">
          Address: 123 Main Street, City, Country
        </span>
      </div>
    </ng-template>
    <ng-template #location2>
      <div class="home-fragment211">
        <span class="home-text213 thq-heading-3">
          Email: info@websitecreation.com
        </span>
      </div>
    </ng-template>
  </app-contact10>
  <app-footer4>
    <ng-template #link5>
      <div class="home-fragment212">
        <span class="home-text214 thq-body-small">About Us</span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="home-fragment213">
        <span class="home-text215 thq-body-small">Portfolio</span>
      </div>
    </ng-template>
    <ng-template #link1>
      <div class="home-fragment214">
        <span class="home-text216 thq-body-small">Home</span>
      </div>
    </ng-template>
    <ng-template #termsLink>
      <div class="home-fragment215">
        <span class="home-text217 thq-body-small">Terms and Conditions</span>
      </div>
    </ng-template>
    <ng-template #link2>
      <div class="home-fragment216">
        <span class="home-text218 thq-body-small">Services</span>
      </div>
    </ng-template>
    <ng-template #link4>
      <div class="home-fragment217">
        <span class="home-text219 thq-body-small">Contact</span>
      </div>
    </ng-template>
    <ng-template #cookiesLink>
      <div class="home-fragment218">
        <span class="home-text220 thq-body-small">Cookies Policy</span>
      </div>
    </ng-template>
    <ng-template #privacyLink>
      <div class="home-fragment219">
        <span class="home-text221 thq-body-small">Privacy Policy</span>
      </div>
    </ng-template>
  </app-footer4>
</div>
